[submodule "git-extras"]
  path = vendor/git-extras
  url = https://github.com/visionmedia/git-extras.git
[submodule ".tmux-tpm"]
  path = link/.tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm.git
[submodule "diff-so-fancy"]
	path = vendor/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
