# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts*

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged
# don't commit plug.vim
/link/.vim/autoload/plug.vim

# don't commit vim plugins, vundle will install them.
/link/.vim/bundle

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

/link/.vim/.netrwhist
# Don't commit tmux plugins, tpm will install them.
/link/.tmux/plugins
# don't commit tmux resurrect files, either
/link/.tmux/resurrect

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
