[submodule "git-extras"]
  path = vendor/git-extras
  url = https://github.com/visionmedia/git-extras.git
[submodule ".tmux-tpm"]
  path = link/.tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm.git
[submodule "diff-so-fancy"]
	path = vendor/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "maven-bash-completion"]
	path = vendor/maven-bash-completion
	url = https://github.com/juven/maven-bash-completion
[submodule "tmux-bash-completion"]
	path = vendor/tmux-bash-completion
	url = https://github.com/imomaliev/tmux-bash-completion
[submodule "vendor/vim-plug"]
	path = vendor/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "tmux plugins"]
	path = link/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim-tex"]
	path = link/.vim/UltiSnips/latex-snippets
	url = https://github.com/gillescastel/latex-snippets
