# Up/down arrows search history
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# set completion-ignore-case on

# disable beep. src: https://stackoverflow.com/a/36726662/664950
set bell-style none
